$primary_1:           #2BC47B;
$primary_2:           #03B475;
$primary_3:           #03A269;
$primary_darker:      #0C3622;

$link_1:              #10C3FC;
$link_2:              #2DBDFF;
$link_3:              #2BB8F8;
$link_darker:         #053645;

$warning_1:           #FFCD38;
$warning_2:           #F6C430;
$warning_3:           #F6C430;
$warning_darker:      #A38324;

$danger_1:            #C43E2B;
$danger_2:            #BA301D;
$danger_3:            #B02916;
$danger_darker:       #7D281C;

$dark_1:              #27364D;
$dark_2:              #34455E;
$dark_3:              #45556C;

$gray_1:              #99B2C5;
$gray_2:              #DEE8F1;
$gray_3:              #F5FAFE;
