* {
  &:focus,
  &:active {
    outline: 0 !important;
    box-shadow: none !important;
  }
}

.breadcrumb {
  @include mobile {
    ul {
      li {
        display: flex !important;
        width: 100%;
        border: 1px solid rgba($blue-dark, 0.05);
        padding: 5px 15px;
      }
      li.is-active {
        &:before {
          display: none;
        }
        a {
          padding-left: 0;
        }
      }
    }
  }
}

.fold-container {
  padding: 64px 0;
  background-color: white;
  position: relative;
  strong {
    color: #27364d;
    font-weight: 600;
  }
}

.fold-divider {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  height: 1px;
  background-image: linear-gradient(to right, white, #eaf1f6, white);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.fold-subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.margin-auto {
  margin: 0 auto;
}

.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.mr-10 {
  margin-right: 10px !important;
}

.new-icon {
  background: url('~/assets/imgs/icons/new.svg') no-repeat center / 26px;
  height: 26px;
  width: 26px;
  display: block;
  margin: 0 8px;
}

ul {
  li {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 900px) {
  .fold-container {
    padding: 60px 0;
  }
}

.rich-text {
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 1.2rem;
  }

  p {
    margin-bottom: 2rem;
    line-height: 1.75em;
  }

  ul {
    font-weight: $weight-light;
    margin-bottom: 2rem;
    list-style-type: disc;
    margin-left: 1em;
  }

  &.rich-text-intro {
    p {
      line-height: 1.5;
    }
  }

  // customer-stories: widget-company
  &.info__description {
    p {
      margin: 0;
    }

    strong {
      color: $black;
      display: block;
      font-weight: $weight-semibold;
      font-size: $size-7;
      margin-bottom: 5px;
    }
  }
}

// SECTIONS

.section.text-titled-image {
  padding-top: 0;

  .rich-text  {
    h3 {
      margin-botom: 1.5rem;
    }

    ul,
    ol,
    p {
      font-weight: 400;
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }
}

// MODALS / POPUPS
#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-popup;
  width: 0;
  height: 0;
  opacity: 0.85;
  background-color: #1b1b1b;

  &.is-active {
    width: 100vw;
    height: 100vh;
  }
}

.modal .title,
header .header .modal .title {
  color: $black-ter;
  font-weight: 700;
}
