.select {
	&.language-selector, &.currency-selector {
		select {
			border-color: $green !important;
			background-color: $green !important;
			color: white;
			&:active, &:hover {
				border-color: white !important;
			}
		}

		&:not(.is-multiple):not(.is-loading) {
			&::after {
				border-color: $green;
			}
			&:hover::after {
				border-color: white;
			}
		}
	}
	&.is-small {
		@include mobile {
			font-size: 1rem !important;
		}
	}
}

.icon.is-small.is-left {
		@include mobile {
			font-size: 1rem !important;
			color: $white !important;
		}
	}
