// Font Weight
.weight-500 {
	font-weight: 500;
}
// .Font Weight

// Underline
.has-text-underline {
	text-decoration: underline;
}

// Colors
.has-text-dark2 {
	color: $dark_2;
}

.has-text-gray1 {
	color: $gray_1;
}

.has-text-green {
	color: $green;
}

.has-text-muted {
	opacity: .4;
}
